<div class="absolute inset-0 flex flex-col flex-auto w-full min-w-0 overflow-hidden">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-1 " style="
          overflow-y: auto !important; ">

    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Cronograma de Despachos Semana # {{ semana }}  de {{this.weekFormat[0]}} al {{weekFormat[1]}}</div>
        <div class="font-medium tracking-tight text-secondary"> Última actualización {{fechaSincronizacion | date:'d-M-yyyy hh:mm'}}</div>
          <button class="ml-4 px-1 sm:px-4 min-w-10" mat-flat-button [color]="'primary'"
                  (click)="addNewProyect('')" *ngIf="rolLogin !=='LOGISTICA'">
              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
              <span class="hidden sm:inline-block ml-2">Nuevo</span>
          </button>
      </div>
    </div>

    <div class="flex flex-col flex-auto min-w-0">


      <!-- Main -->
      <div class="flex-auto border-t -mt-px ">
        <div class="w-full max-w-screen-xl mx-auto">

          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
            <!-- Visitors overview -->
            <div
              class="sm:col-span-2 lg:col-span-3  flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">

              <div class="flex flex-col flex-auto" style="
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    ">
                <div class="flex flex-auto overflow-hidden" style="overflow: auto !important;    width: 90%;
                    ">

                  <!-- Products list -->
                  <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
                    style="overflow: auto !important;">

                    <!---desde aquiiiii-->


                    <div class=" mat-elevation-z8" style="text-align: center;">

                      <!------------------------------------------------TABLA 1------------------------------------------------------------------------->
                      <table mat-table [dataSource]="mampuesto$" class=" example-container mat-elevation-z8" matSort
                        style="width: 100%;text-align: center;">


                       <!-- <ng-container matColumnDef="estado" class="text-[12px]">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;" mat-sort-header>
                            ESTADO
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-chip-set aria-label="Dog selection">
                              <mat-chip *ngIf="element.fechaFormateada === fechaActual"
                                style="background-color: #68fe68;">
                                <span style="font-weight: 900;">ACTUAL</span>
                              </mat-chip>

                              <mat-chip *ngIf="element.fechaFormateada < fechaActual"
                                style="background-color: #f43f5e; ">
                                <span style="font-weight: 900;color: white;">RETRASADO</span>
                              </mat-chip>

                              <mat-chip *ngIf="element.fechaFormateada > fechaActual"
                                style="background-color: #ffff5a;">
                                <span style="font-weight: 900;">PROXIMO</span>
                              </mat-chip>
                            </mat-chip-set>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container> -->
                        <ng-container matColumnDef="fecha">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;" mat-sort-header>
                            FECHA
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-[12px]">
                              {{element.date | date:'EEEE d':'-0500':'es'}}
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;" mat-sort-header>
                            PROYECTO
                          </th>
                          <td mat-cell *matCellDef="let element" [width]="200"
                            style="text-align: justify;padding-left: 3% !important;" class="text-[12px] ">
                              <div class=" text-red-500 rounded-2xl" *ngIf="element.newBloc === true">{{ element.client }}</div>
                              <div  *ngIf="element.newBloc === false">{{ element.client }}</div>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>


                        <ng-container matColumnDef="destino">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                            DESTINO
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-[12px]">{{ element.direction }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="transporte">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                            TRANSPORTE
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-[12px]"> {{ element.driver }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>



                          <ng-container matColumnDef="dinteles" class="text-[12px]">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                  DINTELES
                              </th>
                              <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                            <span class="flex items-center">
                              <span *ngIf="budget.dinteles === true" class="flex items-center" matTooltip="Habilitado">
                                <svg height="30" viewBox="0 0 48 48" width="30" x="0px"
                                     xmlns="http://www.w3.org/2000/svg" y="0px">
                                  <path d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                                        fill="#c8e6c9"></path>
                                  <path
                                      d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
                                      fill="#4caf50"></path>
                                </svg> </span>

                              <span *ngIf="budget.dinteles === false" class="flex items-center"
                                    matTooltip="Deshabilitado">
                                <svg height="30" viewBox="0 0 48 48" width="30" x="0px"
                                     xmlns="http://www.w3.org/2000/svg" y="0px">
                                  <path d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                                        fill="#f44336"></path>
                                  <path d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                                        fill="#fff"></path>
                                  <path d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                                        fill="#fff"></path>
                                </svg> </span>
                            </span>
                              </td>
                          </ng-container>


                        <ng-container matColumnDef="confirmacion" class="text-[12px]">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                            CONFIRMACION
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <!--<span *ngIf="element.status">SI</span>-->
                            <mat-chip-set aria-label="Dog selection">


                              <mat-chip *ngIf="element.status === 'string'" style="background-color: #f43f5e;">
                                <span style="font-weight: 900; color: white;">CANCELADO</span>
                              </mat-chip>
                                  <mat-chip *ngIf="element.status === 'Cancelado' ||  element.status === 'Anulado'" style="background-color: #f43f5e;">
                                <span style="font-weight: 900; color: white;">ANULADO</span>
                              </mat-chip>


                              <mat-chip *ngIf="element.status === 'Pendiente' ||  element.status === 'Preliminar'" style="background-color: #ffff5a;">
                                <span style="font-weight: 900;">PRELIMINAR</span>
                              </mat-chip>

                                <mat-chip *ngIf="element.status === 'Despachado' ||  element.status === 'Despachado'" style="background-color: #daa0e1;">
                                    <span style="font-weight: 900;">DESPACHADO</span>
                                </mat-chip>

                                <mat-chip *ngIf="element.status === 'Reprogramado'||  element.status === 'Reprogramado'" style="background-color: #6e3322;">
                                    <span style="font-weight: 900; color: white;">REPROGRAMADO</span>
                                </mat-chip>

                                <mat-chip *ngIf="element.status === 'Aprobado' ||  element.status === 'Confirmado'" style="background-color: #09a837;">
                                    <span style="font-weight: 900; color: white;">CONFIRMADO</span>
                                </mat-chip>
                            </mat-chip-set>
                          </td>
                        </ng-container>

                          <ng-container matColumnDef="accion" *ngIf="rolLogin ==='LOGISTICA'">
                              <th *matHeaderCellDef mat-header-cell style="z-index: 1;text-align: center; !important;">
                                  ACTUALIZADO
                              </th>
                              <td mat-cell *matCellDef="let element" class="text-[12px]">
                                  {{ element.personUpdate }}
                              </td>

                          </ng-container>



                        <ng-container matColumnDef="accion" *ngIf="rolLogin !=='LOGISTICA'">
                          <th *matHeaderCellDef mat-header-cell style="z-index: 1;text-align: center; !important;">
                            ACCIONES
                          </th>
                          <td *matCellDef="let budget" mat-cell style="z-index: 1; text-align: center;">
                            <button (click)="editarCronograma(budget)" matTooltip="Editar">
                              <mat-icon [svgIcon]="'heroicons_solid:pencil-square'"
                                class="icon-size-5 content-center"></mat-icon>
                            </button>


                            <button (click)="eliminarCronograma(budget)" matTooltip="Eliminar">
                                                              <mat-icon [svgIcon]="'heroicons_solid:trash'"
                                                                  class="icon-size-5 content-center"></mat-icon>
                                                          </button>
                          </td>
                          <td mat-footer-cell *matFooterCellDef="let row"></td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMampuesto" style="
                        font-size: 15px;
                        font-weight: 800;
                    "></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMampuesto;" style="
                        font-size: 15px;
                    "></tr>
                      </table>

                      <!--<mat-paginator #_paginator [pageSizeOptions]="[ 10, 25, 100]"
                                              aria-label="Select page of users"></mat-paginator>-->
                      <!---Hatas aquiiiii-->

                      <ng-template #noProducts>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                          No
                          tienes proyectos!
                        </div>
                      </ng-template>


                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>




